@model List<ArganTest.Features.DataAccess.Entities.TestOrder>
@{
    ViewBag.Title = "Orders";
}

<h1>@ViewBag.Title</h1>
<div>
    <table class="table" id="orders">
        @foreach (var order in Model)
        {
            <tr>
                <td><input type="checkbox" id="@order.Id" /></td>
                <td>@order.Id</td>
                <td>@order.FirstName</td>
                <td>@order.LastName</td>
                <td>@order.Country</td>
                <td>@order.State</td>
                <td>@order.City</td>
                <td>@order.Address</td>
            </tr>
        }
    </table>
    <button id="submit" class="btn btn-success">Submit Shipping</button>
</div>
<br/>
<br />
<br />
<br />
<div>
    results:
</div>
<div>
    
    <textarea rows="5" cols="50" id="result"></textarea>
</div>

@section scripts
{
    @*Frontend logic, doesn't move to separate file because of simplicity*@
    <script>
        $(function() {
            $('#submit').click(function() {

                var idArray = [];
                $('#orders').find('input:checked').each(function() {
                    idArray.push(this.id);
                });
                //filling order ids form peage
                if (idArray.length > 0) {

                    $.post("/Home/PrepareShipments", //preparing json
                        { 'orderIds': idArray },
                        function (shippingDto) {
                            //calling main api endpoint
                            $.ajax({
                                type: "POST",
                                url: "/orders",
                                data: JSON.stringify(shippingDto),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                processData: true,
                                success: function (data) {
                                    //filling result area
                                    $('#result').html(JSON.stringify(data));
                                },
                                error: function(xhr) {
                                    alert(xhr.responseText);
                                }
                            });
                        });
                }
            });
        })
    </script>
}
