@model List<ArganTest.Features.DataAccess.Entities.TestOrder>
@{
    ViewBag.Title = "Orders";
}

<h1>@ViewBag.Title</h1>
<div>
    <table class="table">
        @foreach (var order in Model)
        {
            <tr id="@order.Id">
                <td><input type="checkbox" /></td>
                <td>@order.Id</td>
                <td>@order.FirstName</td>
                <td>@order.LastName</td>
                <td>@order.Country</td>
                <td>@order.State</td>
                <td>@order.City</td>
                <td>@order.Address</td>
            </tr>
        }
    </table>
    <button id="submit" class="btn btn-success">Submit Shipping</button>
</div>
<br/>
<br />
<br />
<br />
<div>
    results:
</div>
<div>
    
    <textarea rows="5" cols="50" id="result"></textarea>
</div>